[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/Maymomo/grpc.git
	branch = v1.24.4
[submodule "third_party/mkvproto"]
	path = third_party/mkvproto
	url = https://github.com/Maymomo/mkvproto.git
	branch = demo
